@model PrototypeAdal4.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Approval Request</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseNotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseNotes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VersionNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VersionNumber)
        </dd>
        <dd>
            <input type="submit" value="Approve" />
       
            <input type="submit" value="Reject" />
        </dd>
    </dl>
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
