@model PrototypeAdal4.Models.Approval

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Approval</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Releases)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Releases)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApprovalStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApprovalStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApprovedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApprovedDate)
        </dd>
        <dt>@Html.DisplayNameFor(model => model.Releases)</dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Product Name</th>
                    <th>Version Number</th>
                    <th>Release Notes</th>
                    <th>Submission Date</th>
                    <th>Approval Status</th>
                    <th>Approved By</th>
                    <th>Date Approved</th>
                </tr>
                @foreach (var item in Model.Releases)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Releases)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ApprovalStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ApprovedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ApprovedDate)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ApprovalID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
